<!DOCTYPE html>
<html lang="en" style="background-color: #ededf0">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>a{TEXT-DECORATION:none}</style>
    <link href="https://pan.baidu.com/ppres/static/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="404.css">
</head>
<body>
<div class="content">
    <!--<div class="p">-->
        <div class="bg_img">
            <span class="message">404</span>
        </div>
        <!--<img src="404.jpg">-->

    <!--</div>-->
    <div class="info">
        <h3 class="title">哇唔，你所访问的页面走丢了!</h3>
        <div class="reason">
            <p>可能原因：</p>
            <p>1.在地址栏中输入了错误的地址。</p>
            <p>2.你点击的某个链接已过期。</p>
        </div>
        <div class="oper">
            <p><a href="https://yun.baidu.com/">点击回到首页&gt;</a></p>
        </div>
    </div>
</div>


</body>
</html>